---
---

@import "{{ site.theme }}";

a.buttons2 {
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 2px;
	height: 30px;
}

.instructorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
}
.instructor {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 20px;
}
.img-hover:hover {
  opacity: 0.8;
}